/* SMALL DEVICES AND GENERAL*/
main {
  padding: 2.5rem 1.5rem;
  color: #283D3B;
}

/* MEDIUM DEVICES */
@media screen and (width >= 480px) {

}

/* LARGE DEVICES */
@media screen and (width >= 768px) {
  main {
    padding: 2.5rem 3rem;
  }
}

